/* Body Styling */
body.admin_dashboard {
    background-color: #f5f1eb;
}

/* Add role */
.addRole {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

/* Listing Container*/
.accordion {
    margin-bottom: 100px;
}

/*Vendor& Staff Cards*/
.Vendor-Card,
.Staff-Card,
.Admin-Card{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/*Card Header */
.Vendor-Listing-Container-Header h2,
.Staff-Listing-Container-Header h2,
.Admin-Listing-Container-Header h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* Card Body */
.Vendor-Card-Body,
.Staff-Card-Body,
.Admin-Card-Body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/*Card Content(Left)*/
.Vendor-Listing-Container-Content,
.Staff-Listing-Container-Content,
.Admin-Listing-Container-Content {
    display: grid;
    grid-template-columns: 200px 20px auto;
    gap: 10px;
}

/*Card Content(Right)*/
.Admin-Listing-Container-Button,
.Vendor-Listing-Container-Button{
    width:10%;
    margin-right:20px;
}

.Admin-Listing-Container-Button img,
.Vendor-Listing-Container-Button img {
    width: 35px; 
    height: 35px;
    cursor: pointer;
    margin-left: 20px; 
}

/* Edit Vendor Modal*/
.modal-title {
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
   font-size: 30px;
}

.modal-footer {
    text-align: center;
}
.modal-footer .btn {
    display: block;
    margin: 0 auto;
}

.modal-body p strong {
    font-size: 18px; 
    font-weight: bold;
}

.modal-body p span {
    font-size: 16px; 
}


/* No Data Messages */
.No-Data p,
.No-Data p {
    font-size: 20px;
    text-align: center;
    color: #aca8a8;
}

