body.main_page {
    background-color: #f5f1eb; 
}

.clickable-card {
    cursor: pointer;
    transition: transform 0.2s;
}
.clickable-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.03);
}

.card {
    height: 100%; 
    display: flex;
    flex-direction: column; 
}

.card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card-text {
    height: 60px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    margin-bottom: 1rem;
}

.card-img-top {
    height: 250px; 
    object-fit: cover; 
    flex-shrink: 0; 
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.d-flex.justify-content-between {
    margin-top: auto; 
}

.product-title{
    margin-top: 30px;
    font-size: 1.7rem; 
}

.category-btn {
    flex: 1; 
    text-align: center; 
    white-space: nowrap; 
    overflow: hidden; 
    min-width: 250px;
}

.d-flex.align-items-center.justify-content-between {
    gap: 20px; 
}

#prevCategory,
#nextCategory {
    margin: 0;
}

.category-container {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
}

#filterCollapse {
    margin-top: 10px;
    margin-bottom: 20px;
}

#filterCollapse .card-body {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    color: #000; 
}

#filterCollapse h5 {
    font-size: 1.3rem; 
    color: #000000; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px; 
    margin-left: 10px;
}

#filterCollapse .btn-link {
    color: #000; 
    font-weight: bold;
}

#filterCollapse .btn-link:hover {
    text-decoration: underline;
    color: #4CAF50; 
}

#filterCollapse .btn-danger {
    margin-top: 0px;
    color: #fff; 
}
