body.order_history {
    background-color: #f5f1eb; 
}

.btn-success {
    width: 80px !important;
    background-color: #d9f2da !important;
    border-color: #c8e6c9 !important;
    color: #5b725b !important;
    transition: background-color 0.3s ease !important;
}

.btn-success:hover {
    background-color: #c8e6c9 !important;
    border-color: #b2d8b2 !important;
}

.card-header {
    background-color: #e8f5e9 !important;
    border-bottom: 1px solid #b2dfdb !important;
    color: #2e4d2c;
    font-weight: bold;
}

.card-body {
    background-color: #f0f8f2 !important;
    color: #333;
}

.alert.alert-info {
    border-left: 6px solid #0dcaf0; 
    background-color: #e9f7fc; 
    color: #055160; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.alert .custom-message {
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3px;
}

.product-preview {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.product-preview img {
    max-width: 250px; /* Control the image size */
    height: auto;
}

.product-preview div {
    flex: 1;
}

#reviewStars i {
    transition: color 0.3s ease; /* Transition for color change */
}

