body.order_history {
    background-color: #f5f1eb; 
}

.btn-success {
    width: 80px !important;
    background-color: #d9f2da !important;
    border-color: #c8e6c9 !important;
    color: #5b725b !important;
    transition: background-color 0.3s ease !important;
}

.btn-success:hover {
    background-color: #c8e6c9 !important;
    border-color: #b2d8b2 !important;
}

.alert.alert-info {
    border-left: 6px solid #0dcaf0; 
    background-color: #e9f7fc; 
    color: #055160; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.alert .custom-message {
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3px;
}

.product-preview {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.product-preview img {
    max-width: 250px; /* Control the image size */
    height: auto;
}

.product-preview div {
    flex: 1;
}

#reviewStars i {
    transition: color 0.3s ease; /* Transition for color change */
}

.btn-reorderproduct,.btn-reorderwhole{
    width: 140px !important;
    background-color: #d9f2da !important;
    border-color: #c8e6c9 !important;
    color: #5b725b !important;
    transition: background-color 0.3s ease !important;
}

.container {
    max-width: 1200px;
}

.card {
    border-radius: 10px;
}

.card-header {
    background-color: #e8f5e9 !important;
    border-bottom: 1px solid #b2dfdb !important;
    color: #2e4d2c;
    font-weight: bold;
}

.card-body {
    background-color: #fff;
}

table th,
table td {
    vertical-align: middle;
}

.table .productNameColumn {
    width: 30rem; 
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table-light th, .table-light td {
    background-color: #f9f9f9;
}

.table-success th, .table-success td {
    background-color: #e7f5e7;
}

.table-light tfoot {
    background-color: #f9f9f9;
}

table .btn-group button {
    margin-right: 5px;
}

.btn-reorderWhole {
    background-color: #28a745;
    color: white;
}

.btn-reorderWhole:hover {
    background-color: #218838;
}

.btn-outline-success, .btn-outline-primary, .btn-outline-danger {
    margin-right: 10px !important;
}

.text-success {
    color: #28a745 !important;
}

.text-primary {
    color: #007bff !important;
}

.table-light th, .table-light td {
    background-color: #f9f9f9;
}

.table-success th, .table-success td {
    background-color: #e7f5e7;
}

.text-success {
    color: #28a745 !important;
}

.text-end {
    text-align: right;
}

