/* Body Styling */
body.staff_dashboard {
    background-color: #f5f1eb;
    flex-direction: column;
    min-height:100vh;
}

/* Promotion Update */
.Promotion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.modal-title {
    text-align: center;
    flex-grow: 1;
    font-size:25px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-body .mb-3{
    margin-top: 20px !important;
}


/* Listing Container*/
.accordion {
    margin-bottom: 100px;
}


/* Pending& Assitance Cards */
.Pending-Card,
.Assisstance-Card {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* Card Header */
.Pending-Listing-Container-Header h2,
.Assisstance-Listing-Container-Header h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Card Body */
.Pending-Card-Body,
.Assisstance-Card-Body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Card Content(Left) */
.Pending-Listing-Container-Content,
.Assisstance-Listing-Container-Content {
    display: grid;
    grid-template-columns: 200px 20px auto;
    gap: 10px;
}

/*Button Container(Right)*/
.Assisstance-Listing-Container-Button{
    width:10%;
    margin-right:20px;
}

/* Buttons */
.viewDetails,
.approve,
.reject,
.solve {
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

/*Pending Request Buttons*/
.viewDetails {
    background-color: #99c1ee;
    width:80%;
}

.viewDetails:hover {
    background-color: #b1bfce;
}

.approve {
    background-color: #82df99;
    width:80%;
}

.approve:hover{
    background-color: #a9ccb1;
}

.reject {
    background-color: #f77070;
    width:80%;
}

.reject:hover {
    background-color: #cc6d6d;
}

/*Assistance Request Buttons*/
.solve{
    background-color: #82df99;
    width:90%;

}

.solve:hover{
    background-color: #a9ccb1;
}


/* Pending Details Modal */
.Details_Label{
    font-size:18px;
}

.Details_Value{
    margin-bottom:10px;
}


/* No Data Messages */
.No-Data-Assisstant p,
.No-Data-Pending p {
    font-size: 20px;
    text-align: center;
    color: #aca8a8;
}
